.theme-switch-container {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;

    & button {
        background-color: transparent;
        width: 2.2em;
        height: 2.2em;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & svg {
        width: 1.5em;
        height: 1.5em;
    }
}
