:root {
    --room-view-card-width: max(26vw, min(22em, 90vw));
}

.room-page {
    & > div {
        width: fit-content;
        place-self: center;
    }
}

.exit-room-btn {
    margin: 0.6em;
    width: 7em;
}

.room-view {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & .room-view-card {
        margin: 0.6em;
        height: max(86vh, 35em);

        &:not(.voting-section) {
            width: var(--room-view-card-width);
        }

        &.voting-section {
            width: calc(var(--room-view-card-width) * 1.25);
        }
    }

    & .voting-section {
        max-width: 40em;
        min-width: 25vw;
    }
}

@media (max-width: 1200px) {
    .voting-section {
        width: var(--room-view-card-width) !important;
    }
}

@media screen and (max-width: 780px) {
    .voting-section-top-bar {
        flex-direction: column;

        & .room-id-display {
            margin-right: 0px;
        }

        & .separator {
            display: none;
        }
    }
}
