:root {
    --sidebox-width: max(24rem, 20vw);
}

.room-view {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    & > div {
        margin: 0.6em;
        height: 80vh;
        max-height: 40em;
    }

    & .voting-section {
        max-width: 40em;
        min-width: 25vw;
    }
}
