NODE_ENV=production
PORT=8080
HOSTNAMES=http://localhost
FORCE_TLS=false
TLS_CERT=cert.pem
TLS_KEY=key.pem
LOG_DIR=/var/log
DEBUG=0
LOGLEVEL=
SITEMAP_URL=https://pointingpoker.work/sitemap.xml

REQ_THRESHOLD=1000
REQ_LIMIT=40000
LIMIT_TIMEFRAME=120000
SENTRY_DSN=
