.round-history {
  margin-top: 1em;
  overflow-y: auto;

  & .nav-sidebar {
    flex-grow: 1;
    & .prev-round-btn {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 480px) {
  .round-history .nav-sidebar .prev-round-btn .subtitle {
    display: none;
  }
}
