.vote-btns {
    & .vote-buttons-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    & .btn.btn.btn {
        margin-top: 1em;
        width: 2.5em;
        margin-right: 0.5em;
        padding: 0px;
        min-width: max-content;
        height: 2.3em;
        justify-content: center;
        align-items: center;
    }
}
