._page {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    padding-block: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;

    & > * {
        margin-top: auto;
        margin-bottom: auto;
    }
}
