.participant-wrapper {
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin-top: .4em;
}

.participants {
    margin-top: 1em;
    flex-direction: column;

    & .participant {
        align-items: center;
        flex-grow: 1;
        justify-content: space-between;
        margin-bottom: 0.25em;
        border-radius: var(--border-radius);
        padding: 0.2em 0.5em;
        min-height: 2.3em;
        box-sizing: border-box;

        &:hover {
            background-color: #96969626;
        }

        & .set-role-viewer-btn {
            margin-inline: .5em;
            width: 1.5em;
            height: 1.5em;
            min-height: unset;

            & svg {
                width: .8em;
                height: .8em;
            }
        }

        &.highlight.highlight {
            background-color: #9696964d;
        }

        &.disconnected p {
            opacity: 0.5;
        }

        & .username {
            height: min-content;
        }

        & .text {
            max-width: 100%;
            min-width: 0;
            overflow: hidden;
            text-wrap: nowrap;
            flex-grow: 1;
        }

        & .badge {
            width: 4em;
            margin-left: 0.5em;
            user-select: none;

            & p {
                padding: 0.2em 0.4em;
                border-radius: 20px;
                text-align: center;
                transition: background-color 0.3s ease-in-out;
                margin: unset;

                &.awaiting-vote {
                    background-color: var(--clr-danger-400);
                }

                &.voted {
                    background-color: var(--clr-primary-400);
                }

                &.vote-result {
                    background-color: #32a04a;
                }

                &.own-vote-result {
                    background-color: #63636361;
                }
            }
        }
    }
}

.set-role-voter-btn {
    flex: 1;
    margin-top: .8em;
}

.audience {
    padding-top: .3em;
    margin-top: auto;
    flex-direction: column;
    align-items: flex-end;

    & .audience-list :not(:last-child)::after {
        content: "|";
        margin-inline: .4em;
        color: var(--clr-dimmed);
    }
}

.skeleton .participant .badge p {
    background-color: rgba(136, 136, 136, 0.3215686275) !important;
}
