.register-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    place-self: center;

    & input {
        max-width: 55vw;
    }
}
