.dark-theme {
    --link-clr: #2fa7fe;
}

.light-theme {
    --link-clr: #0673c3;
}

*:not(body) {
    font-size: inherit;
}

* {
    min-width: 0;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    font-size: 20px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

body div {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;

    &:focus-visible {
        outline: unset;
    }
}

p {
    margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: unset;
}

.column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.center-self {
    align-self: center;
    justify-self: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.center-v {
    align-items: center;
}

.center-h {
    justify-content: center;
}

.main-container {
    height: 100vh;
    width: 100vw;
}

.theme-provider {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bolded {
    font-weight: bold;
}

.if-container {
    display: contents;
}

.vrouter-root {
    height: 100%;
}

.vrouter-outlet {
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
}

.blue-link {
    color: var(--link-clr);
    transition: 0.2s ease-in-out;

    &:hover {
        opacity: 0.7;
    }
}

@keyframes onload {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#root > :is(.dark-theme, .light-theme) > * {
    opacity: 0;
    animation: onload 0.7s ease-in-out forwards;
}

@media screen and (max-width: 520px) {
    .main-container > div {
        padding-bottom: 4em;
    }
}

dialog {
    padding: 0;
    border: unset;
    background: transparent;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
}
